* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

/* Auth Page*/
body {
  min-height: 100vh;
  background: radial-gradient(circle at top, #6a00ff, #000000 60%);
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.card {
  background: #0f0f0f;
  padding: 30px;
  width: 360px;
  border-radius: 14px;
  box-shadow: 0 0 30px rgba(138, 43, 226, 0.6);
  border: 1px solid rgba(255,255,255,0.08);
}

.card h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #c084fc;
}

.card label {
  display: block;
  margin-bottom: 6px;
  color: #ccc;
}

.card input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 8px;
  border: none;
  background: #1c1c1c;
  color: white;
  outline: none;
}

.card input::file-selector-button {
  background: #6a00ff;
  border: none;
  padding: 6px 10px;
  color: white;
  border-radius: 6px;
  cursor: pointer;
}

.card button {
  width: 100%;
  padding: 12px;
  border: none;
  background: linear-gradient(135deg, #7f00ff, #a855f7);
  color: white;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
}

.card button:hover {
  opacity: 0.9;
}

.card a {
  display: block;
  text-align: center;
  margin-top: 15px;
  color: #c084fc;
  text-decoration: none;
}

/*  */

/* ===== FIX INPUT COLOR IN ALL STATES ===== */
.card input {
  background: #1c1c1c !important;
  color: white !important;
  border: none;
}

/* On focus */
.card input:focus {
  background: #1c1c1c !important;
  color: white !important;
  outline: none;
}

/* Chrome autofill fix */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 1000px #1c1c1c inset !important;
  -webkit-text-fill-color: white !important;
  transition: background-color 5000s ease-in-out 0s;
}

